.notification {
    color: White;
    background: rgb(61, 185, 110);
    font-size: 30px;
    border-style: double;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
  }
  .warning {
    color: white;
    background: red;
    font-size: 30px;
    border-style: double;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
  }